.dot {
    width: 6px;
    height: 6px;
    border-radius: 9999px;
    background-color: #ffc80f;
    animation: dotPulse 1.4s infinite ease-in-out both;
}

.dot-1 {
    animation-delay: 0s;
}

.dot-2 {
    animation-delay: 0.2s;
}

.dot-3 {
    animation-delay: 0.4s;
}

@keyframes dotPulse {
    0% {
        transform: scale(0.6);
        opacity: 0.4;
    }
    30% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(0.6);
        opacity: 0.4;
    }
    100% {
        transform: scale(0.6);
        opacity: 0.4;
    }
}